<!-- iframe.snippet -->
<iframe src="https://www.facebook.com/plugins/video.php?href={ %FB.WATCH URL% }&width=500&show_text=false&height=282&appId" width="500" height="282" style="border:none;overflow:hidden;max-width:100%;max-height:50vw;" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>
